<div class="d-flex justify-content-center m-5">
    <div class="card" style="max-width: 40%;">
      <div class="card-body">
        <h5 *ngIf="user.NOME">{{user.NOME}}</h5>
        <h4 *ngIf="user.EMAIL">{{user.EMAIL}}</h4>
        <h4 *ngIf="user.OBJETIVO_VIDA">{{user.OBJETIVO_VIDA}}</h4>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a (click)="openDialog()" class="btn btn-primary">Endereço</a>
      </div>
    </div>
</div>