<div>
    <mat-toolbar class="p-2 bg-primary" *ngIf="isLoggedIn$ | async">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button class="bg-white" (click)="sidenav.toggle()">
                <mat-icon >menu</mat-icon>
            </button>
        </div>
        <span class="m-2 text-white">My App</span>
        <span class="example-spacer"></span>

        <a>
            <span class="text-white" routerLink="/list">
                Lista
            </span>
        </a>

        <a>
            <span class="text-white" routerLink="/form">
                Formulário
            </span>
        </a>

        <a>
            <span class="text-white">
                Blog
            </span>
        </a>

        <a>
            <span class="text-white" (click)="onLogout()">
                Sair
            </span>
        </a>
    </mat-toolbar>
</div>