/**
 * Add basic flex styling so that the cells evenly space themselves in the row.
 */
 
 .mat-column-select {
    overflow: initial;
  }

  footer{
    position:fixed;
    bottom:0px;
    width:100%;
  }

  .mat-icon-button {
    background-color: #1b74f9;
  }