<div>
  <div class="container mt-2">
    <div class="card">
      <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">  
        <ng-container matColumnDef="EMAIL">
          <mat-header-cell *matHeaderCellDef>EMAIL</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.EMAIL}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="NOME">
          <mat-header-cell *matHeaderCellDef>NOME</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.NOME}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="displayData(row.ID)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </div>
  </div>
  <footer>
    <div class="d-flex justify-content-between">
      <div></div>
      <div class="p-3">
        <button mat-icon-button routerLink="/form">
          <mat-icon class="material-icons md-24">add</mat-icon>
        </button>
      </div>
    </div>
  </footer>
</div>