<div class="dialog">
    <h2 mat-dialog-title>{{element.CEP}}</h2>
    <mat-dialog-content class="mat-typography">
        <p ><strong>ESTADO:</strong> {{element.ESTADO}}</p>
        <p><strong>CIDADE:</strong> {{element.CIDADE}}</p>
        <p><strong>ENDERECO_LOGRADOURO:</strong> {{element.ENDERECO_LOGRADOURO}}</p>
        <p><strong>ENDERECO_NUMERO:</strong> {{element.ENDERECO_NUMERO}}</p>
        <p ><strong>ENDERECO_COMPLEMENTO:</strong> {{element.ENDERECO_COMPLEMENTO}}</p> 
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
    </mat-dialog-actions>
</div>