<div class="container w-100">
    <div class="d-flex justify-content-center m-4 mt-5"> 
        <div class="p-5 rounded border border-secondary">
            <form [formGroup]="checkoutForm" (ngSubmit)="submit()" novalidate autocomplete="off">
              <div class="form-group">
                <label for="selObjetivo">Objetivo de vida:</label>
                <select formControlName="selObjetivo">
                    <option *ngFor ="let value of objetivos">
                      {{value}}
                    </option>
                </select>
              </div>
              <div class="form-group">
                <label for="txtNome">Nome</label>
                <input type="text" formControlName="txtNome">
              </div>
              <div class="form-group">
                <label for="txtEmail">E-mail</label>
                <input type="text" formControlName="txtEmail" required>
              </div>
              <div class="form-group">
                <label for="txtCEP">CEP do endereço</label>
                <input type="text" formControlName="txtCEP" required>
              </div>
              <div class="form-group">
                <label for="txtLogradouro">Logradouro do endereço</label>
                <input type="text" formControlName="txtLogradouro" required>
              </div>
              <div class="form-group">
                <label for="txtNumero">Número do endereço</label>
                <input type="text" formControlName="txtNumero" required>
              </div>
              <div class="form-group">
                <label for="txtComplemento">Complemento do endereço</label>
                <input type="text" formControlName="txtComplemento" required>
              </div>
              <div class="form-group">
                <label for="txtCidade">Cidade do endereço</label>
                <input type="text" formControlName="txtCidade" required>
              </div>
              <div class="form-group">
                <label for="selEstado">Estado do endereço:</label>
                <select formControlName="selEstado">
                  <option *ngFor ="let value of estados">
                    {{value}}
                  </option>
                </select>
              </div>
              <br>
              <div class="d-flex justify-content-center"> 
                <button class="btn border" type="submit">Cadastrar</button> 
              </div>
            </form>
        </div>
  </div>