<div class="container w-100">
  <div class="d-flex justify-content-center m-4 mt-5"> 
      <div class="p-5 rounded border border-secondary">
          <form [formGroup]="checkoutForm" (ngSubmit)="submit()" novalidate autocomplete="off">
            <div class="form-group">
              <label for="email">Nome</label>
              <input type="text" formControlName="email">
            </div>
            <div class="form-group">
              <label for="senha">E-mail</label>
              <input type="text" formControlName="senha">
            </div>
            <br>
            <div class="d-flex justify-content-center"> 
              <button class="btn border" type="submit">Entrar</button> 
            </div>
          </form>
      </div>
</div>